 .menu_bar{
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease-out;
    /* transition-delay: 0.5s; */
}
.menu_bar .burger-container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
    -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.menu_bar .burger-container #burger {
    width: 18px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
}
.menu_bar .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #FFF;
    transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    /* transition-delay: 0s; */
}
.menu_bar .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
}
.menu_bar .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
}
.menu_bar ul.menu {
    position: relative;
    display: block;
    padding: 0px 48px 0;
    list-style: none;
    z-index: 0;
}
.menu_bar ul.menu li.menu-item, .menu-item-link {
    border-bottom: 1px solid #333;
    margin-top: 5px;
    opacity: 0;
    /*-webkit-transform: scale(1.15) translateY(-30px);
            transform: scale(1.15) translateY(-30px);
    
        transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);     */
}
.menu_bar ul.menu li.menu-item a, .menu-item-link a {
    display: block;
    position: relative;
    color: #fff;
    font-family: "Ek Mukta", sans-serif;
    font-weight: 100;
    text-decoration: none;
    font-size: 17px;
    line-height: 2.35;
    font-weight: 200;
    width: 100%;
}
.menu_bar.menu-opened {
    height: 500px;
    background-color: #9082bd;
    /* transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.5s; */
    overflow: scroll;  
}
.menu_bar.menu-opened .burger-container {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.menu_bar.menu-opened .burger-container #burger .bar {
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.5s;
}
.menu_bar.menu-opened .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
}
.menu_bar.menu-opened .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
}
.menu_bar.menu-opened ul.menu li.menu-item, .menu-item-link{
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
}