.down-red-part, .down-green-part, .down-blue-part, .down-purple-part{
    width: 10%;
    height: 54px;
    position: absolute;
    left: 63%;
    top: 20.8%;
    animation:arrow-redAnimation 0.5s infinite;
    -webkit-animation:arrow-redAnimation 0.5s infinite; /*Safari and Chrome*/
    /* background: url(https://apure.com.tw/img/international_landing/arrow.png) center no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
        margin-lift: -27px; */
          
}
@keyframes arrow-redAnimation {
    from {top: 20.4%;}
    to {top: 20.8%;}
}

@-webkit-keyframes arrow-redAnimation {
    from {top: 20.4%;}
    to {top: 20.8%;}
}
.down-green-part{
    top: 32.8%;
    left: 45%;
    animation:arrow-greenAnimation 0.5s infinite;
    -webkit-animation:arrow-greenAnimation 0.5s infinite; /*Safari and Chrome*/
}

@keyframes arrow-greenAnimation {
    from {top: 32.4%;}
    to {top: 32.8%;}
}

@-webkit-keyframes arrow-greenAnimation {
    from {top: 32.4%;}
    to {top: 32.8%;}
}

.down-blue-part{
    top: 62.6%;
    left: 45%;
    animation:arrow-blueAnimation 0.5s infinite;
    -webkit-animation:arrow-blueAnimation 0.5s infinite; /*Safari and Chrome*/
}

@keyframes arrow-blueAnimation {
    from {top: 62.2%;}
    to {top: 62.6%;}
}

@-webkit-keyframes arrow-blueAnimation {
    from {top: 62.2%;}
    to {top: 62.6%;}
}

.down-purple-part{
    top: 85.3%;
    left: 45%;
    animation:arrow-purpleAnimation 0.5s infinite;
    -webkit-animation:arrow-purpleAnimation 0.5s infinite; /*Safari and Chrome*/
}

@keyframes arrow-purpleAnimation {
    from {top: 84.9%;}
    to {top: 85.3%;}
}

@-webkit-keyframes arrow-purpleAnimation {
    from {top: 84.9%;}
    to {top: 85.3%;}
}

body{
    margin: 0;
}
img{
    width: 100%;
}
#block1_button_image, 
#block2_button_image, 
#block3_button_image, 
#block4_button_image, 
#block5_button_image, 
#block6_button_image, 
#block7_button_image, 
#block8_button_image, 
#block9_button_image, 
#block10_button_image, 
#block11_button_image, 
#block12_button_image,
#block13_button_image,
#block14_button_image,
#block15_button_image,
#block16_button_image,
#block17_button_image,
#block18_button_image,
#block19_button_image,
#block20_button_image,
#block21_button_image,
#block22_button_image{
    cursor: pointer;
}
#block1, 
#block2, 
#block3, 
#block4, 
#block5, 
#block6, 
#block7, 
#block8, 
#block9, 
#block10, 
#block11, 
#block12,
#block13,
#block14,
#block15,
#block16,
#block17,
#block18,
#block19,
#block20,
#block21,
#block22{
    display: none;
}
.wrapper{
    position: absolute;
}
#nav_mobile, #nav_laptop, #colors_bar_fixed, #bottom_button{
    position: fixed;
}
#colors_bar_fixed{
    display: none;
    z-index: 2;
}
#nav_laptop{
   background-color: #ccbce3;
   width: 100%;
   height: 50px;
}
.user{
    display: none;
}
#bottom_button {
    visibility: visible;
    opacity: 1;
    background-color: #9985b6;
    cursor: pointer;
    /* display: inline-block; */
    /* height: 40px; */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    /* display: none; */
}
#next-to-top {
    visibility: visible;
    opacity: 1;
    background-color: #9985b6;
    cursor: pointer;
    display: none;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 90px;
    right: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(https://apure.com.tw/img/shop-now-button.png) center 50% no-repeat rgba(0,0,0,0.8);
}
.pantone{
    background-color: #9994cc;
    padding-bottom:30px;
    text-align: center;
}
.pantone img{
    width: 16%;
    margin-left: 1%;
    margin-bottom: 1%;
}
/* 
* For smaller screen like mobile
*/
@media screen and (min-width: 50px){ 
    #nav_laptop{
        height: 50px;
    }
    #nav_laptop span{
        float: right;
        padding-right: 20px;
        padding-top: 20px;
    }
    #logo{
        width: 20%;
        margin-left:40%;  
        padding-top: 17px;
    }
    
    .wrapper{
          width: 100%;
          margin-left: 0;
          margin-top: 50px;
    }
    #nav_mobile + a img{
          margin-top:10%;
    }
    #nav_laptop{
        position: fixed;
    }
    /* #buy{
          position: absolute;
          right: 10%;
          top: 20%;
    } */
    .sticker{
        position: absolute;
        width: 6%;
        z-index: 0;
        top: 22%;
        display: none;
    }
    #grape{
        right: 58%;
    }
    #twilight{
        right: 3%;
    }
    #lavender{
        right: 23%;
    }
    #buy {
        position: fixed;
        width: 6%;
        right: 2%;
        top: 70px;
        cursor: pointer;
        text-align: center;
        text-indent: 0;
        z-index: 2;
    }
    

}

@media screen and (min-width: 50px) and (orientation: landscape){
    #nav_mobile + a img{
          margin-top:71px;
    }
    /* #buy{
        margin-top: 20px;
    } */
}

@media screen and (min-width: 450px){ 
    #logo{
        padding-top:15px;
        width: 10%;
        margin-left:45%;  
    }
    .wrapper{
        margin-top: 50px;
    }
    #nav_laptop{
        height: 50px;
    }
    #nav_mobile{
        margin-top:0;
    }
    #buy {
        top: 70px;
    }
 
}

/* 
* For larger screen like laptop
*/
@media screen and (min-width: 800px){ 
    #logo{
        width: 6%;
        margin-left: 45%;
        padding-top: 8px; 
    }
    .wrapper{
          width: 70%;
          margin-left: 15%;
          margin-top: 50px;
    }
    #nav_mobile{
          display: none;
    }
    #nav_mobile + a img{
        margin-top: 0;
    }
    #nav_laptop{
        height: 50px;
        z-index: 1;
    }
    #buy {
        top: 6px;
        width: 3%;
    }
    #next-to-top{
        display: inline-block;
    }
}

@media screen and (min-width: 1550px){ 
    #nav_laptop{
        height: 50px;
    }
    .wrapper{
        margin-top: 50px;
    }
    #buy {
        top: 4px;
        width: 2%;
    }
}
